@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a asp-action="Perfil" asp-controller="Usuarios"
           class="nav-link">
            Log In
        </a>
    </li>
}
else { 
    <li class="nav-item">
        <a asp-action="CerrarSesion" asp-controller="Identity"
           class="nav-link">
            Log Out <span style="color:white">
            @Context.User.Identity.Name </span>
        </a>
    </li>  
}